.register {
    margin: 0;
    width: 100%;
  }
  
  .background-image {
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
  }
  
  .background-image img {
    width: 100%;
    height: 100vh;
  }
  
  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2F575B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    height: 80px;
}

  .logo, .user-icon {
    width: 25%;
    height: 80px;
    display: grid;
    place-items: center; /* Wysrodkowanie w obu kierunkach */
}

  .logo {
    font-size: 24px;
    letter-spacing: 2px;
    cursor: pointer;
  }
  
  .menu-items {
    display: flex;
    width: 50%;
    height: 80px;
    justify-content: center; /* Wysrodkowanie w poziomie */
    align-items: center; /* Wysrodkowanie w pionie */

  }
  
  .menu-item {
    display: flex;
    justify-content: center; /* Wysrodkowanie w poziomie */
    align-items: center; /* Wysrodkowanie w pionie */
    cursor: pointer;
    padding: 0px 30px;
    height: 80px;
  }
  .menu-item:hover {
    background-color: #1a4144;
}
  .user-icon {
    font-size: 30px;
    cursor: pointer;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 5%;
  }
  
  form {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .form-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #2F575B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1a4144;
  }
  
  .login-info {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 20px;
  }
  
  .login-info a {
    color: #2F575B;
    text-decoration: none;
    cursor: pointer;
  }
  
  .login-info a:hover {
    text-decoration: underline;
  }