<form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
  <p-card header="Register" [style]="{ width: '360px' }">

    <div class="field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        formControlName="name"
        class="w-full"
        name="name"
        placeholder="Type your name"
      />
      <small
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="block p-error"
      >
        <div *ngIf="name.errors?.['required']">Name is required.</div>
        <div *ngIf="name.errors?.['pattern']">Enter a valid Name</div>
      </small>
    </div>

    <div class="field">
      <label for="surname">Surname</label>
      <input
        type="text"
        pInputText
        formControlName="surname"
        class="w-full"
        name="surname"
        placeholder="Type your surname"
      />
      <small
        *ngIf="surname.invalid && (surname.dirty || surname.touched)"
        class="block p-error"
      >
        <div *ngIf="surname.errors?.['required']">surname is required.</div>
        <div *ngIf="surname.errors?.['pattern']">Enter a valid surname</div>
      </small>
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Type your email"
      />
      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="block p-error"
      >
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">Email should be valid</div>
      </small>
    </div>

    <div class="field">
      <label for="contact_email">Contact Email</label>
      <input
        type="text"
        pInputText
        formControlName="contact_email"
        class="w-full"
        name="contact_email"
        placeholder="Type your contact_email"
      />
      <small
        *ngIf="contact_email.invalid && (contact_email.dirty || contact_email.touched)"
        class="block p-error"
      >
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['contact_email']">Email should be valid</div>
      </small>
    </div>

    <div class="field">
      <label for="phone">Phone</label>
      <input
        type="text"
        pInputText
        formControlName="phone_number"
        class="w-full"
        name="phone_number"
        placeholder="Type your phone number"
      />
      <small
        *ngIf="phone_number.invalid && (phone_number.dirty || phone_number.touched)"
        class="block p-error"
      >
        <div *ngIf="email.errors?.['required']">Phone is required.</div>
        <div *ngIf="email.errors?.['phone_number']">Phone should be valid</div>
      </small>
    </div>

    <div class="field">
      <label for="role">Role</label>
      <input
        type="text"
        pInputText
        formControlName="role"
        class="w-full"
        name="role"
        placeholder="Type your role"
      />
      <small
        *ngIf="role.invalid && (role.dirty || role.touched)"
        class="block p-error"
      >
        <div *ngIf="role.errors?.['required']">Role is required.</div>
        <div *ngIf="role.errors?.['role']">Role should be valid</div>
      </small>
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Type your password"
      />
      <small
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error"
      >
        <div *ngIf="password.errors?.['required']">Password is required.</div>
      </small>
    </div>
    <div class="field">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        pInputText
        formControlName="confirmPassword"
        class="w-full"
        name="confirmPassword"
        placeholder="Confirm Password"
      />
      <small
        *ngIf="
          confirmPassword.invalid &&
          (confirmPassword.dirty || confirmPassword.touched)
        "
        class="block p-error"
      >
        <div *ngIf="confirmPassword.errors?.['required']">
          Confirm the password
        </div>
      </small>
      <small
        class="block p-error"
        *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
      >
        Password should match
      </small>
    </div>
    <p-button
      label="Register"
      styleClass="w-full"
      [disabled]="registerForm.invalid"
      type="submit"
    ></p-button>
    <div class="mt-2">Already a member? <a routerLink="/login">Login</a></div>
  </p-card>
</form>
