<div class="announcements">
    <h1>Ogłoszenia</h1>
    <div class="announcement-list">
      <div class="announcement">
        <h3>Tytuł ogłoszenia 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...</p>
      </div>
      <div class="announcement">
        <h3>Tytuł ogłoszenia 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...</p>
      </div>
      <div class="announcement">
        <h3>Tytuł ogłoszenia 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...</p>
      </div>
      <div class="announcement">
        <h3>Tytuł ogłoszenia 4</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...</p>
      </div>
    </div>
</div>
  