/* owner-apartment-management.component.css */

.apartment-management-container {
  max-width: 600px;
  margin: auto;
  padding: 20px; /* Dodane wcięcie dla lepszego wyglądu */
  background-color: #fff; /* Dodane tło, aby lepiej oddzielić od reszty strony */
  border: 1px solid #ddd; /* Dodane obramowanie dla lepszego wyglądu */
  border-radius: 8px; /* Zaokrąglenie rogów */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Dodany cień dla efektu podniesienia */
}

.apartment-details {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: calc(100% - 16px); /* Usunięto padding z szerokości */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s; /* Dodana płynna zmiana koloru tła */
}

button:hover {
  background-color: #45a049;
}

.button-container {
  text-align: right;
}

/* Dodane style dla umowy najmu i lokatora */
h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

/* Dodatkowe style dla responsywności */
@media (max-width: 768px) {
  .apartment-management-container {
    max-width: 100%;
    padding: 10px;
  }
}
