.announcements {
  text-align: center;
}

h1 {
  color: #2F575B;
  text-align: center;
  letter-spacing: 3px;
}

.add-announcement {
  margin-top: 30px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

select,
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #2F575B;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #1a4144;
}

.announcement-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.announcement {
  width: 45%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description {
  margin-bottom: 10px;
}

.date {
  color: #888;
}
